# Sample gitconfig
#
[hub]
  protocol = https

[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[credential]
  helper = GIT_CREDENTIAL_HELPER
[core]
  editor = subl -w
  excludesfile = /Users/alex/.gitignore_global
[diff]
    external = /Users/alex/scripts/gitdfdiff.sh
[alias]
  co = checkout
  promote = !$ZSH/bin/git-promote
  wtf     = !$ZSH/bin/git-wtf
  rank-contributors = !$ZSH/bin/git-rank-contributors
  br = branch
  ci = commit
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  undo = !$ZSH/bin/git-undo
  who = shortlog -sn
  amend = !$ZSH/bin/git-amend
  rm-local-merged-br = !$ZSH/bin/git-delete-local-merged
  credit = !$ZSH/bin/git-credit
[push]
  default = current
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = red
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
